REPO_SSH_URL="git@github.com:ilovekharkiv/devops_intern_ilovekharkiv.git"
BACKUP_DIR=backup
REPO_NAME="git@github.com:ilovekharkiv"
MAX_BACKUPS=$MAX_BACKUPS
RUN_AMOUNT=$RUN_AMOUNT
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}
DB_ENDPOINT=${DB_ENDPOINT}
DB_NAME=${DB_NAME}
#POSTGRES_HOST_AUTH_METHOD=Trust
POSTGRES_HOST_AUTH_METHOD=${POSTGRES_HOST_AUTH_METHOD}