REPO_SSH_URL="git@github.com:ilovekharkiv/devops_intern_ilovekharkiv.git"
BACKUP_DIR=backup
REPO_NAME="git@github.com:ilovekharkiv"
MAX_BACKUPS=7
RUN_AMOUNT=10
DB_USER=
DB_PASSWORD=
DB_ENDPOINT=
DB_NAME=